<!DOCTYPE html>
<html>
<head>
    <title>HelmGuard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <p class="text">Welcome to HelmGuard !</p>
    <p class="text-bottom">A helmet detection and number plate recognition site</p>

    <div class="form-box">
        <p class="form-text">Please login before you continue</p>
        <form action="/login" method="post" id="loginForm">
            <p class="uname">
                <span class="field-text">Email</span><br>
                <input type="email" class="input-field" name="email" id="email" placeholder="example@example.com" required>
            </p>
            <p class="pass">
                <span class="field-text">Password</span><br>
                <input type="password" class="input-field" name="password" id="password" placeholder="****************" required>
            </p>
            <p class="reme">
                <span class="rememberme"><input type="checkbox" name="remember"> Remember me  </span>
                <span class="forget"><a href="/forget_password">Forget password?</a></span>
            </p>
            <p style="padding-top:20px">
                <button type="submit" class="submit-btn">LOGIN</button>
            </p>
        </form>
    </div>
    <img src="static/images/bg.png" alt="image">
    <div class="main"></div>
</body>
</html>
